name: Terraform Deploy Sparta Bot

on:
    workflow_dispatch:

permissions:
    contents: read
    pull-requests: write

jobs:
    terraform-sparta:
        name: Terraform Sparta Bot
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: tooling/sparta/terraform

        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            TF_VAR_bot_token: ${{ secrets.BOT_TOKEN }}
            TF_VAR_passport_api_key: ${{ secrets.PASSPORT_API_KEY }}
            TF_VAR_ethereum_host: ${{ secrets.ETHEREUM_HOST }}
            TF_VAR_backend_api_key: ${{ secrets.BACKEND_API_KEY }}
            TF_VAR_aws_region: "eu-west-2"
            TF_VAR_environment: "production"
            TF_VAR_bot_client_id: "1329079356785688616"
            TF_VAR_guild_id: "1144692727120937080"
            TF_VAR_passport_verified_role_id: "1364982673604345886"
            TF_VAR_minimum_score: "10"
            TF_VAR_passport_scorer_id: "11493"
            TF_VAR_vite_reown_project_id: "d037e9da5c5c9b24cfcd94c509d88dce"
            TF_VAR_staking_asset_handler_address: "0xF739D03e98e23A7B65940848aBA8921fF3bAc4b2"
            TF_VAR_l1_chain_id: "11155111"
            TF_VAR_local_dynamo_db: "false"
            TF_VAR_dynamodb_local_endpoint: "http://localhost:8000"
            TF_VAR_log_level: "info"
            TF_VAR_log_pretty_print: "false"
            TF_VAR_api_port: "3000"

        steps:
            - name: Checkout
              uses: actions/checkout@v5
